body{
    background-color: #f2f4f1;
    margin: 0;
}

*{
    margin: 0px;
    padding: 0px;
}


/*          home page           */

.menu_bar{
    position: fixed;
    height: 80px;
    width: 100%;
    top: -100px;
    z-index: 199;
    font-family: 'Hind', sans-serif;
    display: block;
    transition: top 0.5s;
}

.bg-menu-bar{
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: #f2f4f1;
    z-index: -1;
    opacity: 0.9;

}

.left_menu{
    width: 20%;
    line-height: 65px;
    float: left;
}

.left_menu h4{
    margin-top: 15px;
    font-weight: bold;
    padding-left: 5vw;
    color: #434a43;
    font-size: 22px;
    cursor: pointer;
}

.left_menu h4:hover{
    color: #7e847c;
}

.right_menu{
    z-index: 100;
    cursor: pointer;
    width: 50%;
    float: right;
}

#text-border1{
    border: 2px solid #8a9b8a;
}

.right_menu ul{
    margin-left: 15vw;
}

.right_menu ul li{
    margin-top: 15px;
    display: inline-block;
    list-style: none;
    font-size: 15px;
    font-weight: bold;
    line-height: 65px;
    margin-left: 25px;
    margin-right: 25px;
    text-transform: uppercase;
    color: #434a43;
    z-index: 200;
}

.right_menu ul li:hover{
    color: #7e847c;
}

.cover{
    width: 100%;
    height: 90vh;
    background-color: #dde3d9;
    border: 15px solid #f2f4f1;
    box-sizing: border-box;
}

.noise {
    position: absolute;
    width: 100%;
    height: 90vh;
    left: 0;
    top: 0;
    z-index: 98;
    background: url(image/noise.png);
    border: 15px solid #f2f4f1;
    box-sizing: border-box;
  }

.title{
    text-align: center;
    margin-top: 30vh;
    position: relative;
}

.title h4{
    font-family: 'Pacifico', cursive;
    font-size: 8vw;
    color: #434a43;
    position: relative;
}

.cover p{
    position: relative;
    font-family: 'Hind', sans-serif;
    color: #434a43;
    text-align: center;
    font-size: 1.5vw;
    margin-top: -2vw;
}

.under-line{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.8vw;
    width: 4vw;
    height: 0.5vw;
    background: #434a43;
}

@keyframes filling{
    from{
      background-position: center 2%;
    }
    to {
      background-position: center 50%;
    }
  }
  
.container-text{
    background-image:  url(https://static.pexels.com/photos/4827/nature-forest-trees-fog.jpeg);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    color:  #f2f4f1;
    animation: filling 4s ease forwards;
  }

@keyframes fade-in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100;
    }
}

.title{
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: fade-in 4.5s;
}

.title2{
    -webkit-background-clip: text;
    animation: fade-in 14s;
}


/*          About Page           */

.about .topic1{
    position: relative;
    font-family: 'Hind', sans-serif;
    color: #434a43;
    text-align: center;
    top: 20vw;
    font-size: 1.5vw;
}

.under-line2{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 21vw;
    width: 4vw;
    height: 0.3vw;
    background: #434a43;
}

.card1{
    margin-top: 15vw;
    float: left;
    margin-left: 14vw;
    width: 360px;
    height: 480px;
    background-color: #f2f4f1;
    box-shadow: 0px 0px 1vw #a7a7a7;
}

.card1 p{
    font-family: 'Hind', sans-serif;
    color: #434a43;
    text-align: center;
    margin-top: 5vh;
}

.picture-card1{
    width: 360px;
    height: 250px;
    background-color: #abc5c0;
}

.under-line3{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8vh;
    width: 2vw;
    height: 0.3vw;
    background: #434a43;
}

.caption1{
    font-family: 'Hind', sans-serif;
    color: #434a43;
    text-align: center;
    margin-top: 30vw;
    max-width:  50vh;
    display: inline-block;
    margin-left: 15vw;
    position: relative;
}

.conver-syn1{
    position: relative;
    background: url(image/conver-syn.png) no-repeat;
    height: 100vh;
    opacity: 0.3;
    margin-top: -30vh;
    margin-left: 12vw;

}